* {
    box-sizing:border-box;
}
 

body {
    background-image:url('images/wooden-floor-background_53876-88628\ \(1\).jpg');
    font-family: 'Segoe UI'sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    max-width: 650px;
    margin: 0 auto;
    color: #000000;
}

h3 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 28px;
}


#taskForm {
    display: flex;
    gap: 15px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

#task {
    flex: 1;
    min-width: 200px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#priority {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#taskForm label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    white-space: nowrap;
}

#addBtn {
    background: #a6ffcb;
    color: rgb(163, 162, 162);
    border: none;
    padding: 0 2px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#addBtn:hover {
    background: #219653;
}


/* ================= TASK LIST ================= */
#taskmanager {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    align-items: center;
    gap: 12px;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: all 0.2s;
}

.task:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}


.priority-high    { background-color: #ee8998; }
.priority-medium  { background-color: #ffffff; }
.priority-low     { background-color: #ffffff; }


.important {
    border-left: #ffffff !important;
    font-weight: bold;
}


.completed {
    opacity: 0.6;
}

.task-name {
    flex: 1;
    font-size: 17px;
}

.task-meta {
    font-size: 13px;
    color: #7f8c8d;
    margin-left: auto;
    margin-right: 15px;
}

.delete-btn {
    background: #000000;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background: #fcfafa;
    color: #000000;
}

.toggle-complete {
    cursor: pointer;
    width: 18px;
    height: 18px;
}